import java.util.Scanner;

public class App {
    public static void main(String[] args) throws Exception {
        Scanner ler;
        ler = new Scanner(System.in);

        String CPF = "12345678900", senha = "01020304", CPFinput, senhainput;
        double saldo = 1000, deposito, saque;
        int x = 1, y = 1;
        
        

        do {
        System.out.println("Olá, bem vindo ao caixa eletrônico");
        System.out.println("Digite seu CPF :");
        CPFinput = ler.next();
        
        if (CPF.equals(CPFinput)){
            System.out.println("CFP encontrado");
            System.out.println("Digite a sua senha :");
            senhainput = ler.next();
            if (senha.equals(senhainput)){
            do {
                System.out.println("====================");
                System.out.println("[1]Saldo");
                System.out.println("[2]Depósito");
                System.out.println("[3]Saque");
                System.out.println("[0]Sair");
                System.out.println("====================");
                System.out.println("Digite a função desejada :");
                x = ler.nextInt();
                switch(x){
                    case 1:
                    System.out.println("Seu saldo atual é de : R$" + saldo );
                    break;
                    
                    case 2:
                    System.out.println("Digite o valor a ser depositado : ");
                    deposito = ler.nextDouble();
                    saldo = saldo + deposito;
                    System.out.println("Seu novo saldo é de : R$" + saldo);
                    break;
                    
                    case 3:
                    System.out.println("Digite o valor a ser sacado : ");
                    saque = ler.nextDouble();
                    saldo = saldo - saque;
                    System.out.println("Seu novo saldo é de : R$" + saldo);
                    break;
                    
                    case 0:
                    break;
                    
                    default:
                    System.out.println("Opção inválida, digite novamente");
                    break;

                } // switch




            }while (x!= 0);
            
            
            
            
            
            } // if senha
            else {
                System.out.println("senha Inválida, tente novamente");
            }// else senha
        } //if CPF
        else{
            System.out.println("CPF Inválido, tente novamente");

        } // else CPF
    } // 1° do
        while(y != 0);

    }
}
